.radio-toolbar {
  display: flex;
  flex-wrap: wrap;
}

.radio-toolbar label {
  flex: 1 1 0%;
  background-color: white;
  margin: 5px;
  padding: 10px 20px;
  font-family: sans-serif, Arial;
  font-size: 14px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  text-align: center;
}

.radio-toolbar label:hover {
  background-color: #d3d3d3;
}

.radio-toolbar input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar input[type='radio']:focus + label {
  border: 2px dashed #444;
}

.radio-toolbar input[type='radio']:checked + label {
  background-color: #d3d3d3;
  border-color: #d3d3d3;
}

.radio-toolbar input[type='radio']:disabled + label {
  opacity: 0.4;
  cursor: not-allowed;
  background-color: cyan;
}

.subheading {
  padding-top: 15px;
  text-align: center;
}

.tab-content {
  margin-bottom: -1em; /* Remove spacing by <br> above Start button */
}

.label-extra-info {
  font-weight: normal;
}

#environment_simple {
  text-overflow: ellipsis;
  max-width: 20em;
}

.form-container {
  padding: 0.3em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

.form-container label {
  justify-self: start;
  cursor: pointer;
}

.form-container input[type='number'] {
  width: 100%;
}

.form-container input[type='checkbox'] {
  justify-self: start;
}

.form-container hr {
  grid-column: 1 / 3;
}

.form-offset-row {
  justify-self: end;
  width: calc(100% - 2em);
  grid-column: 1 / 3;
  text-align: left;
}

.form-field-div {
  display: flex;
  flex: 0 1 0;
}

@media (max-width: 768px) {
  .form-container label {
    grid-column: 1;
  }
  .form-container input,
  .form-container select,
  .form-field-div {
    grid-column: 1 / 3;
  }
  .form-container input[type='checkbox'] {
    grid-column: 2;
  }

  .form-offset-row {
    width: 100%;
  }
}

.environment-div {
  padding: 0.15rem;
  display: flex;
  align-items: flex-start;
}

.environment-div > * {
  margin-left: 0.3rem;
}

.environment-div > div {
  width: 100%;
}

.environment-div label {
  flex: 1;
}

.environment-remove-button {
  padding-left: 0;
  padding-right: 0;
  height: 1.8rem;
  line-height: 0.9rem;
  align-self: baseline;
}

.environment-add-div {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.environment-add-div > * {
  margin-left: 0.3rem;
}

#environment_add_path {
  flex: 1;
}

#environment_add_button {
  padding-left: 0;
  padding-right: 0;
}

#environment_add_button:disabled {
  color: lightgray;
}
